/* Pagina principal */
.card1{

    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    color: whitesmoke;
    float:left;
    margin-top: 200px;
    text-align: center;
}

.card2{

    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    color: whitesmoke;
    margin-top: 200px;
    float:left;
    text-align: center;
}

.card3{

    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    color: whitesmoke;
    margin-top: 200px;
    float:left;
    text-align: center;
}

.card4{

    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    color: whitesmoke;
    margin-top: 200px;
    float:left;
    text-align: center;
}

.card5{

    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    color: whitesmoke;
    margin-top: 200px;
    float:left;
    text-align: center;
}

.card6{

    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    color: whitesmoke;
    margin-top: 200px;
    float:left;
    text-align: center;
}


/* Peliculas individuales */

.filmCard {

    position: relative;
    top: 50%;
    left: 40%;
    border: 5px solid rgb(63, 61, 61);
    padding: 10px 20px 100px;
    color: black;
    font-style:italic;
    background-color: aliceblue;
}